name: deploy

on: workflow_dispatch

jobs:
  deploy:
    environment: deploy
    runs-on: ubuntu-24.04
    steps:

    - uses: actions/checkout@v4

    - uses: cachix/install-nix-action@v30
      with:
        nix_path: nixpkgs=channel:nixos-24.11

    - uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - run: echo "$HOST_NAME.$DOMAIN $HOST_KEY" >> ~/.ssh/known_hosts
      env:
        HOST_NAME: ${{ secrets.HOST_NAME }}
        DOMAIN: ${{ secrets.DOMAIN }}
        HOST_KEY: ${{ secrets.HOST_KEY }}

    - run: nix-shell -p nixos-rebuild --run ./infra/deploy.sh
      env:
        HOST_NAME: ${{ secrets.HOST_NAME }}
        DOMAIN: ${{ secrets.DOMAIN }}
        API_SECRET: ${{ secrets.API_SECRET }}
        MONGO_DB_NAME: ${{ secrets.MONGO_DB_NAME }}
        MONGO_DB_USERNAME: ${{ secrets.MONGO_DB_USERNAME }}
        MONGO_DB_PASSWORD: ${{ secrets.MONGO_DB_PASSWORD }}
        ACME_EMAIL: ${{ secrets.ACME_EMAIL }}
